# Web Scraping - Assignment 1

In [1]:
#!pip install bs4
#!pip install requests

In [2]:
# Let's import the required libraries

from bs4 import BeautifulSoup
import requests

## Question 1 :- Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’

In [3]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from lxml import html

wikipage_content=requests.get(
     'https://en.wikipedia.org/wiki/Main_Page'
)

header = html.fromstring(wikipage_content.content)

scrape = ['h1','h2','h3']
tag1 = []
tag2 = []
tag3 = []

while True:
    for element in scrape:
        path = f'//{element}'
        for j in range(len(header.xpath(path))):
            if element == 'h1':
                tag1.append(header.xpath(path)[j].text_content())
            elif element == 'h2':
                tag2.append(header.xpath(path)[j].text_content())
            else:
                custom_path = path + '/span'
                tag3.append(header.xpath(custom_path)[j-1].text_content())  # this step is customized for getting the h3 tag content accurately
    break

dict = {'Header Tag H1':tag1,'Header Tag H2':tag2,'Header Tag H3':tag3}
wiki_header = pd.DataFrame.from_dict(dict, orient='index').T
wiki_header

   Header Tag H1                  Header Tag H2      Header Tag H3
0      Main Page  From today's featured article          Languages
1           None               Did you know ...     Personal tools
2           None                    In the news         Namespaces
3           None                    On this day           Variants
4           None       Today's featured picture              Views
5           None       Other areas of Wikipedia               More
6           None    Wikipedia's sister projects         Navigation
7           None            Wikipedia languages         Contribute
8           None                Navigation menu              Tools
9           None                           None       Print/export
10          None                           None  In other projects
11          None                           None          Languages

## Question 2 - Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [4]:
def imdb_movies(url):
    Names=[]
    Ratings=[]
    Years=[]
    imdb_page=requests.get(url)
    imdb_soup=BeautifulSoup(imdb_page.content,'html.parser')
    imdb_name=imdb_soup.find_all('td',class_="titleColumn")
    for i in imdb_name:
        full_name=i.find('a').get_text()
        Names.append(full_name)
    imdb_rating=imdb_soup.find_all('td',class_="ratingColumn imdbRating")
    for i in imdb_rating:
        Ratings.append(i.text.replace('\n',''))
    imdb_year=imdb_soup.find_all('span',class_="secondaryInfo")
    for i in imdb_year:
        Years.append(i.text.replace('(','').replace(')',''))
    import pandas as pd
    movies=pd.DataFrame({})
    movies['Names']=Names
    movies['Ratings']=Ratings
    movies['Years']=Years
    movies=movies[:100]
    print(movies)
    movies.to_csv('Top_100_imdb_movies.csv')

In [5]:
imdb_movies_list=imdb_movies('https://www.imdb.com/chart/top/')
imdb_movies_list

                       Names Ratings Years
0   The Shawshank Redemption     9.2  1994
1              The Godfather     9.1  1972
2     The Godfather: Part II     9.0  1974
3            The Dark Knight     9.0  2008
4               12 Angry Men     8.9  1957
..                       ...     ...   ...
95              Citizen Kane     8.3  1941
96                    Dangal     8.3  2016
97         Full Metal Jacket     8.2  1987
98       Ladri di biciclette     8.2  1948
99       Singin' in the Rain     8.2  1952

[100 rows x 3 columns]

## Question 3 - Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [6]:
def imdb_in(url):
    Names=[]
    Ratings=[]
    Years=[]
    imdb_in_page=requests.get(url)
    imdb_in_soup=BeautifulSoup(imdb_in_page.content,'html.parser')
    imdb_in_name=imdb_in_soup.find_all('td',class_="titleColumn")
    for i in imdb_in_name:
        full_name=i.find('a').get_text()
        Names.append(full_name)
    imdb_in_rating=imdb_in_soup.find_all('td',class_="ratingColumn imdbRating")
    for i in imdb_in_rating:
        Ratings.append(i.text.replace('\n',''))
    imdb_in_year=imdb_in_soup.find_all('span',class_="secondaryInfo")
    for i in imdb_in_year:
        Years.append(i.text.replace('(','').replace(')',''))
    import pandas as pd
    movies=pd.DataFrame({})
    movies['Names']=Names
    movies['Ratings']=Ratings
    movies['Years']=Years
    movies=movies[:100]
    print(movies)
    movies.to_csv('Top_100_Indian_imdb_movies.csv')

In [7]:
imdb_india_movies=imdb_in('https://www.imdb.com/india/top-rated-indian-movies/')
imdb_india_movies

              Names Ratings Years
0   Pather Panchali     8.5  1955
1          Gol Maal     8.5  1979
2          Ratsasan     8.5  2018
3        Anbe Sivam     8.5  2003
4           Nayakan     8.5  1987
..              ...     ...   ...
95            Lucia     8.0  2013
96           Bombay     8.0  1995
97          Maqbool     8.0  2003
98           Omkara     8.0  2006
99      Section 375     8.0  2019

[100 rows x 3 columns]

## Question 4 - Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’

In [8]:
def book(url):
    book_names=[]
    author_names=[]
    genres=[]
    reviews=[]
    book_page=requests.get(url)
    book_soup=BeautifulSoup(book_page.content,'html.parser')
    bookpage=book_soup.find_all('h4',class_='italic')
    for i in bookpage:
        book_names.append(i.find('a').text)
    book_author=book_soup.find_all('p',class_='sans bold')
    for i in book_author:
        author_names.append(i.text.replace('\n',''))
    book_genre=book_soup.find_all('p',class_='genre-links hidden-phone')
    for i in book_genre:
        genres.append(i.find('a').text)
    book_review=book_soup.find_all('p',class_='excerpt')
    for i in book_review:
        reviews.append(i.text.replace('\n',''))
    import pandas as pd
    books=pd.DataFrame({})
    books['Book Name']=book_names
    books['Author Name']=author_names
    books['Book Genres']=genres
    books['Book Reviews']=reviews
    books=books.head()
    return(books)

In [9]:
Book_Page=book('https://bookpage.com/reviews')
Book_Page

,Book Name,Author Name,Book Genres,Book Reviews
0,★ The Midnight Fair,"Gideon Sterer, Mariachiara Di Giorgio",Children's,"While some books light paths with their words,..."
1,★ City of the Uncommon Thief,Lynne Bertrand,YA,When you see “Relevant Maps” listed as the fir...
2,How the One-Armed Sister Sweeps Her House,Cherie Jones,Fiction,In her engrossing and darkly lyrical debut nov...
3,Super Host,Kate Russo,Fiction,"In Super Host, the first novel from Kate Russo..."
4,The Paris Library,Janet Skeslien Charles,Fiction,One might wonder if anything new can be writte...

## Question 5 - Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:

### i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [10]:
def odi_teams(url):
    teams=[]
    matches=[]
    points=[]
    ratings=[]
    odi_team_page=requests.get(url)
    odi_team_soup=BeautifulSoup(odi_team_page.content,'html.parser')
    
    odi_team=odi_team_soup.find_all('span',class_='u-hide-phablet')
    for i in odi_team:
        teams.append(i.text)
    teams=teams[:10]
    
    # We can observe from the inspect that in the table top row style is different and other rows are different from each other
    # We we are going to take the top and other row seprately
    
    match_row1=odi_team_soup.find_all('td',class_='rankings-block__banner--matches')
    
    for i in match_row1:
        matches.append(i.text)

               
    # For other rows
    match_row2=odi_team_soup.find_all('td',class_='table-body__cell u-center-text')
    for i in range(0,len(match_row2),2):
        matches.append(match_row2[i].text)
    matches=matches[:10]
    
    
    # For point also top and other rows have differnt format
    odi_point1=odi_team_soup.find_all('td',class_='rankings-block__banner--points')
    
    for i in odi_point1:
        points.append(i.text)
        
    
    odi_point2=odi_team_soup.find_all('td',class_='table-body__cell u-center-text')
    for i in range(1,len(match_row2),2):
        points.append(odi_point2[i].text)
    points=points[:10]
    
    
    odi_rating=odi_team_soup.find_all('td',class_='rankings-block__banner--rating u-text-right')
    for i in odi_rating:
        ratings.append(i.text.replace('\n','').replace(' ',''))
    
    odi_rating=odi_team_soup.find_all('td',class_='table-body__cell u-text-right rating')
    for i in odi_rating:
        ratings.append(i.text.replace('\n','').replace(' ',''))
    ratings=ratings[:10]
    
    
    import pandas as pd
    teams_odi=pd.DataFrame({})
    teams_odi['teams']=teams
    teams_odi['matches']=matches
    teams_odi['points']=points
    teams_odi['ratings']=ratings
    return(teams_odi)

In [11]:
ODI_team_men=odi_teams('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
ODI_team_men

          teams matches points ratings
0       England      44  5,405     123
1         India      52  6,102     117
2   New Zealand      32  3,716     116
3     Australia      39  4,344     111
4  South Africa      31  3,345     108
5      Pakistan      35  3,490     100
6    Bangladesh      37  3,366      91
7     Sri Lanka      39  3,297      85
8   West Indies      46  3,402      74
9   Afghanistan      31  1,844      59

### ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [12]:
def odi_batsmen(url):
    players=[]
    teams=[]
    ratings=[]
    batsmen_page=requests.get(url)
    batsmen_soup=BeautifulSoup(batsmen_page.content,'html.parser')
    
    # First Row of the table
    odi_player=batsmen_soup.find_all('div',class_='rankings-block__banner--name-large')
    for i in odi_player:
        players.append(i.text)
    
    # Other rows in the table
    odi_player=batsmen_soup.find_all('td',class_='table-body__cell rankings-table__name name')
    for i in odi_player:
        players.append(i.find('a').text)
    players=players[:10]
    
    # First Row of the table
    odi_team=batsmen_soup.find_all('div',class_='rankings-block__banner--nationality')
    for i in odi_team:
        teams.append(i.text.replace('\n',''))
        
    #  Other rows in the table
    odi_team=batsmen_soup.find_all('span',class_='table-body__logo-text')
    for i in odi_team:
        teams.append(i.text.replace('\n',''))
    teams=teams[:10]
    
    # First Row of the table
    odi_rating=batsmen_soup.find_all('div',class_='rankings-block__banner--rating')
    for i in odi_rating:
        ratings.append(i.text)
        
    #  Other rows in the table
    odi_rating=batsmen_soup.find_all('td',class_='table-body__cell rating')
    for i in odi_rating:
        ratings.append(i.text)
    ratings=ratings[:10]
    
    
    import pandas as pd
    batsmen_odi=pd.DataFrame({})
    batsmen_odi['players']=players
    batsmen_odi['teams']=teams
    batsmen_odi['ratings']=ratings
    return(batsmen_odi)

In [13]:
top_odi_batsmen=odi_batsmen('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
top_odi_batsmen

               players teams ratings
0          Virat Kohli   IND     870
1         Rohit Sharma   IND     842
2           Babar Azam   PAK     837
3          Ross Taylor    NZ     818
4          Aaron Finch   AUS     791
5  Francois du Plessis    SA     790
6         David Warner   AUS     773
7      Kane Williamson    NZ     765
8      Quinton de Kock    SA     755
9       Jonny Bairstow   ENG     754

### iii) Top 10 ODI bowlers along with the records of their team and rating.

In [14]:
def odi_bowler(url):
    players=[]
    teams=[]
    ratings=[]
    bowler_page=requests.get(url)
    bowler_soup=BeautifulSoup(bowler_page.content,'html.parser')
    
    # First Row of the table
    odi_player=bowler_soup.find_all('div',class_='rankings-block__banner--name-large')
    for i in odi_player:
        players.append(i.text)
    
    # Other rows in the table
    odi_player=bowler_soup.find_all('td',class_='table-body__cell rankings-table__name name')
    for i in odi_player:
        players.append(i.find('a').text)
    players=players[:10]
    
    # First Row of the table
    odi_team=bowler_soup.find_all('div',class_='rankings-block__banner--nationality')
    for i in odi_team:
        teams.append(i.text.replace('\n',''))
        
    #  Other rows in the table
    odi_team=bowler_soup.find_all('span',class_='table-body__logo-text')
    for i in odi_team:
        teams.append(i.text.replace('\n',''))
    teams=teams[:10]
    
    # First Row of the table
    odi_rating=bowler_soup.find_all('div',class_='rankings-block__banner--rating')
    for i in odi_rating:
        ratings.append(i.text)
        
    #  Other rows in the table
    odi_rating=bowler_soup.find_all('td',class_='table-body__cell rating')
    for i in odi_rating:
        ratings.append(i.text)
    ratings=ratings[:10]
    
    
    import pandas as pd
    bowler_odi=pd.DataFrame({})
    bowler_odi['players']=players
    bowler_odi['teams']=teams
    bowler_odi['ratings']=ratings
    return(bowler_odi)

In [15]:
top_odi_bowler=odi_bowler('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
top_odi_bowler

             players teams ratings
0        Trent Boult    NZ     722
1   Mujeeb Ur Rahman   AFG     708
2     Jasprit Bumrah   IND     700
3       Mehedi Hasan   BAN     694
4       Chris Woakes   ENG     675
5      Kagiso Rabada    SA     665
6     Josh Hazlewood   AUS     660
7  Mustafizur Rahman   BAN     658
8      Mohammad Amir   PAK     647
9        Pat Cummins   AUS     646

## Questin 6 - Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:

### i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [16]:
def odi_women_team(url):
    teams=[]
    matches=[]
    points=[]
    ratings=[]
    odi_team_page=requests.get(url)
    odi_team_soup=BeautifulSoup(odi_team_page.content,'html.parser')
    
    odi_team=odi_team_soup.find_all('span',class_='u-hide-phablet')
    for i in odi_team:
        teams.append(i.text)
    teams=teams[:10]
    
    # We can observe from the inspect that in the table top row style is different and other rows are different from each other
    # We we are going to take the top and other row seprately
    
    match_row1=odi_team_soup.find_all('td',class_='rankings-block__banner--matches')
    
    for i in match_row1:
        matches.append(i.text)

               
    # For other rows
    match_row2=odi_team_soup.find_all('td',class_='table-body__cell u-center-text')
    for i in range(0,len(match_row2),2):
        matches.append(match_row2[i].text)
    matches=matches[:10]
    
    
    # For point also top and other rows have differnt format
    odi_point1=odi_team_soup.find_all('td',class_='rankings-block__banner--points')
    
    for i in odi_point1:
        points.append(i.text)
        
    
    odi_point2=odi_team_soup.find_all('td',class_='table-body__cell u-center-text')
    for i in range(1,len(match_row2),2):
        points.append(odi_point2[i].text)
    points=points[:10]
    
    
    odi_rating=odi_team_soup.find_all('td',class_='rankings-block__banner--rating u-text-right')
    for i in odi_rating:
        ratings.append(i.text.replace('\n','').replace(' ',''))
    
    odi_rating=odi_team_soup.find_all('td',class_='table-body__cell u-text-right rating')
    for i in odi_rating:
        ratings.append(i.text.replace('\n','').replace(' ',''))
    ratings=ratings[:10]
    
    
    import pandas as pd
    teams_odi=pd.DataFrame({})
    teams_odi['teams']=teams
    teams_odi['matches']=matches
    teams_odi['points']=points
    teams_odi['ratings']=ratings
    return(teams_odi)

In [17]:
ODI_team_women=odi_women_team('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
ODI_team_women

          teams matches points ratings
0     Australia      15  2,436     162
1         India      15  1,812     121
2       England      14  1,670     119
3  South Africa      19  2,090     110
4   New Zealand      15  1,384      92
5   West Indies      12  1,025      85
6      Pakistan      15  1,101      73
7    Bangladesh       5    306      61
8     Sri Lanka      11    519      47
9       Ireland       2     25      13

### ii) Top 10 women’s ODI players along with the records of their team and rating.

In [18]:
def odi_women(url):
    players=[]
    teams=[]
    ratings=[]
    batsmen_page=requests.get(url)
    batsmen_soup=BeautifulSoup(batsmen_page.content,'html.parser')
    
    # First Row of the table
    odi_player=batsmen_soup.find_all('div',class_='rankings-block__banner--name-large')
    for i in odi_player:
        players.append(i.text)
    
    # Other rows in the table
    odi_player=batsmen_soup.find_all('td',class_='table-body__cell rankings-table__name name')
    for i in odi_player:
        players.append(i.find('a').text)
    players=players[:10]
    
    # First Row of the table
    odi_team=batsmen_soup.find_all('div',class_='rankings-block__banner--nationality')
    for i in odi_team:
        teams.append(i.text.replace('\n',''))
        
    #  Other rows in the table
    odi_team=batsmen_soup.find_all('span',class_='table-body__logo-text')
    for i in odi_team:
        teams.append(i.text.replace('\n',''))
    teams=teams[:10]
    
    # First Row of the table
    odi_rating=batsmen_soup.find_all('div',class_='rankings-block__banner--rating')
    for i in odi_rating:
        ratings.append(i.text)
        
    #  Other rows in the table
    odi_rating=batsmen_soup.find_all('td',class_='table-body__cell rating')
    for i in odi_rating:
        ratings.append(i.text)
    ratings=ratings[:10]
    
    
    import pandas as pd
    batsmen_odi=pd.DataFrame({})
    batsmen_odi['players']=players
    batsmen_odi['teams']=teams
    batsmen_odi['ratings']=ratings
    return(batsmen_odi)

In [19]:
top10_odi_batsmen=odi_women('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
top10_odi_batsmen

             players teams ratings
0        Meg Lanning   AUS     749
1    Stafanie Taylor    WI     746
2       Alyssa Healy   AUS     741
3    Smriti Mandhana   IND     732
4  Amy Satterthwaite    NZ     723
5     Tammy Beaumont   ENG     716
6    Laura Wolvaardt    SA     691
7       Ellyse Perry   AUS     691
8        Mithali Raj   IND     687
9        Lizelle Lee    SA     681

### iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [20]:
def odi_women_allrounder(url):
    players=[]
    teams=[]
    ratings=[]
    bowler_page=requests.get(url)
    bowler_soup=BeautifulSoup(bowler_page.content,'html.parser')
    
    # First Row of the table
    odi_player=bowler_soup.find_all('div',class_='rankings-block__banner--name-large')
    for i in odi_player:
        players.append(i.text)
    
    # Other rows in the table
    odi_player=bowler_soup.find_all('td',class_='table-body__cell rankings-table__name name')
    for i in odi_player:
        players.append(i.find('a').text)
    players=players[:10]
    
    # First Row of the table
    odi_team=bowler_soup.find_all('div',class_='rankings-block__banner--nationality')
    for i in odi_team:
        teams.append(i.text.replace('\n',''))
        
    #  Other rows in the table
    odi_team=bowler_soup.find_all('span',class_='table-body__logo-text')
    for i in odi_team:
        teams.append(i.text.replace('\n',''))
    teams=teams[:10]
    
    # First Row of the table
    odi_rating=bowler_soup.find_all('div',class_='rankings-block__banner--rating')
    for i in odi_rating:
        ratings.append(i.text)
        
    #  Other rows in the table
    odi_rating=bowler_soup.find_all('td',class_='table-body__cell rating')
    for i in odi_rating:
        ratings.append(i.text)
    ratings=ratings[:10]
    
    
    import pandas as pd
    bowler_odi=pd.DataFrame({})
    bowler_odi['players']=players
    bowler_odi['teams']=teams
    bowler_odi['ratings']=ratings
    return(bowler_odi)

In [21]:
top10_odi_bowler=odi_women_allrounder('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
top10_odi_bowler

            players teams ratings
0      Ellyse Perry   AUS     460
1   Stafanie Taylor    WI     410
2    Marizanne Kapp    SA     396
3     Deepti Sharma   IND     359
4     Jess Jonassen   AUS     301
5  Dane van Niekerk    SA     297
6     Sophie Devine    NZ     289
7    Natalie Sciver   ENG     273
8     Shikha Pandey   IND     250
9   Katherine Brunt   ENG     232

## Question 7 - Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [22]:
amazon_page=requests.get('https://www.amazon.in/best-mobile-under-20000/s?k=best+mobile+under+20000')
amazon_soup= BeautifulSoup(amazon_page.content,'html.parser')

Product=[] 
Price=[]
Rating=[]
Image=[]

item= amazon_soup.find_all('span',class_='a-size-medium a-color-base a-text-normal')
for i in item:
    Product.append(i.text)
price= amazon_soup.find_all('span',class_='a-price-whole')
for i in price:
    Price.append(i.text)
rating= amazon_soup.find_all('span',class_='a-icon-alt')
for i in rating:
    Rating.append(i.text)
image= amazon_soup.find_all('div', class_='a-section aok-relative s-image-fixed-height')
for i in image:
    Image.append(i.find('img'))

In [23]:
print(len('Product'),len('Price'),len('Rating'),len('Image'))

7 5 6 5

In [24]:
Product=Product[0:5]
Price=Price[0:5]
Rating=Rating[0:5]
image=image[0:5]

import pandas as pd
Mobiles=pd.DataFrame({})
Mobiles['Product']=Product
Mobiles['Price']=Price
Mobiles['Image']=Image[0:5]
Mobiles['Rating']=Rating
Mobiles

,Product,Price,Image,Rating
0,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)","8,999",[\n],4 Stars & Up
1,"Redmi 9A (Nature Green, 2GB Ram, 32GB Storage)","6,999",[],3 Stars & Up
2,"Oppo A31 (Fantasy White, 6GB RAM, 128GB Storag...","11,990",[],2 Stars & Up
3,"Samsung Galaxy M01 Core (Black, 2GB RAM, 32GB ...","19,499",[],1 Star & Up
4,"Samsung Galaxy M01 (Blue, 3GB RAM, 32GB Storag...","13,999",[],4.0 out of 5 stars

## Question 8 - Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [25]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from lxml import html
import re

pageContent=requests.get(
     'https://forecast.weather.gov/MapClick.php?lat=37.77493000000004&lon=-122.41941999999995#.X7vZI1UzbIU'
)

sf = html.fromstring(pageContent.content)

period = []
short_desription = []
temprature = []
description = []

for t in sf.xpath("//div[contains(@class,'row-forecast')]"):
    
    if 'ight' in t.text_content():
        temp = t.text_content().replace('ight','ight ')
        period.append(temp.split()[0])
        short_desription.append(temp.split(',')[0])
        temprature.append(int(''.join(re.findall('[0-9]',temp))[:2]))
        description.append(''.join(temp.split(' ',maxsplit=1)[1:]))
        
    else:
        temp = t.text_content().replace('day','day ')
        period.append(temp.split()[0])
        short_desription.append(temp.split(',')[0])
        temprature.append(int(''.join(re.findall('[0-9]',temp))[:2]))
        description.append(''.join(temp.split(' ',maxsplit=1)[1:]))
        
sf_weather = pd.DataFrame({'Period':period,'Short Desription':short_desription,'Temperature':temprature,'Description':description})
sf_weather

,Period,Short Desription,Temperature,Description
0,Today,Today Sunny,64,"Sunny, with a high near 64. Calm wind becoming..."
1,Tonight,Tonight Partly cloudy,44,"Partly cloudy, with a low around 44. West wind..."
2,Sunday,Sunday Mostly sunny,62,"Mostly sunny, with a high near 62. West wind 3..."
3,Sunday,Sunday Night Patchy fog after 3am. Otherwise,34,"Night Patchy fog after 3am. Otherwise, mostly..."
4,Monday,Monday Patchy fog before 7am. Otherwise,75,"Patchy fog before 7am. Otherwise, mostly clou..."
5,Monday,Monday Night Mostly cloudy,47,"Night Mostly cloudy, with a low around 47."
6,Tuesday,Tuesday Patchy fog between 7am and 8am. Other...,78,"Patchy fog between 7am and 8am. Otherwise, mo..."
7,Tuesday,Tuesday Night Mostly cloudy,48,"Night Mostly cloudy, with a low around 48."
8,Wednesday,Wednesday Mostly sunny,60,"Mostly sunny, with a high near 60."
9,Wednesday,Wednesday Night Partly cloudy,46,"Night Partly cloudy, with a low around 46."
10,ThursdayA,ThursdayA slight chance of rain. Partly sunny,59,"slight chance of rain. Partly sunny, with a ..."
11,Thursday,Thursday Night A chance of rain. Mostly cloudy,47,"Night A chance of rain. Mostly cloudy, with a..."
12,Friday,Friday A chance of rain. Partly sunny,59,"A chance of rain. Partly sunny, with a high n..."

## Question 9 -Write a python program to scrape ‘software developer’ job listings from ‘Monster.com’. It should include all the jobs listed for the next 5 pages.

In [26]:
def monster_job(url):
    job_page=requests.get(url)
    job_soup=BeautifulSoup(job_page.content,'html.parser')
    
    jobs=[]
    job=job_soup.find_all('h2',class_='title')
    for i in job:
        jobs.append(i.text.replace('\r\n',''))
    
    Days=[]
    day=job_soup.find_all('div',class_='meta flex-col')
    for i in day:
        Days.append(i.text.replace('\n','').replace('Applied\n\n\n\nSaved\n\n',''))
    
    Company=[]
    comp=job_soup.find_all('span',class_='name')
    # Even Indices are companies
    for i in range(0,len(comp),2):
        Company.append(comp[i].text)
        
    Location=[]
    # Odd Indices are companies
    for i in range(1,len(comp),2):
        Location.append(comp[i].text.replace('\r\n',''))
        
    import pandas as pd
    monster_job=pd.DataFrame({})
    monster_job['Job Name']=jobs
    monster_job['Posted']=Days
    monster_job['Company Name']=Company
    monster_job['Location']=Location
    return(monster_job)

In [27]:
job_monster=monster_job('https://www.monster.com/jobs/search/?q=Software-Developer&where=india')
job_monster

,Job Name,Posted,Company Name,Location
0,Lead CDISC Programmer (ADaM),3 days agoAppliedSaved,"The Emmes Company, LLC",Bangalore
1,Clinical SAS Programmer,5 days agoAppliedSaved,"The Emmes Company, LLC",Bangalore
2,Senior Software Developer,16 days agoAppliedSaved,Aurigo,"Bangalore, KT"
3,"Software Engineer (L2), UI/Frontend Developer",16 days agoAppliedSaved,Twilio,"Bengaluru, Karnataka, KT"
4,Sr. Ruby on Rails Developer,3 days agoAppliedSaved,Matchpoint Solutions,Remote
5,Senior Software Engineer - Backend (GoLang/Jav...,+30 days agoAppliedSaved,EagleView Technologies,"Bengaluru, KT"
6,Software Engineer - .Net Core & Vue JS - Banga...,+30 days agoAppliedSaved,MRI Software,"Bangalore, KT"
7,Full Stack Developer (m/f/d),26 days agoAppliedSaved,Delivery Hero,"Panjim, Goa, India"
8,Tableau Developer,+30 days agoAppliedSaved,Diverse Lynx India,Hyderabad/Gandhinagar/Chennai/Bangalore/Mumbai
9,Software Engineer (.Net Developer),16 days agoAppliedSaved,Aurigo,"Bangalore, KT"
10,"Software Engineer (L3), Developer Experience",+30 days agoAppliedSaved,Twilio,"Bengaluru, Karnataka, KT"
11,Senior Software Engineer - .Net core & Vue JS ...,+30 days agoAppliedSaved,MRI Software,"Bangalore, KT"
12,Software Engineer II - Backend (GoLang) - Beng...,+30 days agoAppliedSaved,EagleView Technologies,"Bengaluru, KT"
13,Power BI developer - Remote India,29 days agoAppliedSaved,Matchpoint Solutions,Remote
14,Software Engineer (Mobile App Development),16 days agoAppliedSaved,Aurigo,"Bangalore, KT"
15,Staff Software Engineer (L4),25 days agoAppliedSaved,Twilio,"Bengaluru, Karnataka, KT"
16,"Software Engineer (.Net) - Bangalore, Karnataka",2 days agoAppliedSaved,MRI Software,"Bangalore, KT"
17,"Software Engineer I - C#.net - Bengaluru, Karn...",5 days agoAppliedSaved,EagleView Technologies,"Bengaluru, KT"
18,Software Engineer - Big Data -P3,+30 days agoAppliedSaved,Twilio,"Bengaluru, Karnataka, KT"
19,Cloud Operations Engineer,1 day agoAppliedSaved,Aurigo,"Bengaluru, KT"
20,"Software Engineer - .Net - Bangalore, Karnataka",+30 days agoAppliedSaved,MRI Software,"Bangalore, KT"
21,"Senior Software Engineer - C#.net - Bengaluru,...",+30 days agoAppliedSaved,EagleView Technologies,"Bengaluru, KT"
22,Staff Software Engineer (L4),1 day agoAppliedSaved,Twilio,"Bengaluru, Karnataka, KT"
23,Senior Software Engineer - (Angular) - Bangalo...,+30 days agoAppliedSaved,MRI Software,"Bangalore, KT"
24,Senior Software Engineer - Backend (GoLang/Ja...,+30 days agoAppliedSaved,EagleView Technologies,"Bengaluru, KT"

## Question 10 -Write a python program to scrape ‘data scientist’ job listings for location ‘New Delhi’ from ‘Monster.com’. It should include all the jobs listed for the next 5 pages.

In [28]:
def monster_job(url):
    job_page=requests.get(url)
    job_soup=BeautifulSoup(job_page.content,'html.parser')
    
    jobs=[]
    job=job_soup.find_all('h2',class_='title')
    for i in job:
        jobs.append(i.text.replace('\r\n',''))
    
    Days=[]
    day=job_soup.find_all('div',class_='meta flex-col')
    for i in day:
        Days.append(i.text.replace('\n','').replace('Applied\n\n\n\nSaved\n\n',''))
    
    Company=[]
    comp=job_soup.find_all('span',class_='name')
    # Even Indices are companies
    for i in range(0,len(comp),2):
        Company.append(comp[i].text)
        
    Location=[]
    # Odd Indices are companies
    for i in range(1,len(comp),2):
        Location.append(comp[i].text.replace('\r\n',''))
        
    import pandas as pd
    monster_job=pd.DataFrame({})
    monster_job['Job Name']=jobs
    monster_job['Posted']=Days
    monster_job['Company Name']=Company
    monster_job['Location']=Location
    return(monster_job)

In [29]:
DataScientist=monster_job('https://www.monster.com/jobs/search/?q=data-science&where=india')
DataScientist

,Job Name,Posted,Company Name,Location
0,"Lead Data Scientist - Bengaluru, Karnataka",+30 days agoAppliedSaved,EagleView Technologies,"Bengaluru, KT"
1,"Senior Data Scientist - Bengaluru, Karnataka",+30 days agoAppliedSaved,EagleView Technologies,"Bengaluru, KT"
2,Data Science Quality Assessment Engineer - Ben...,25 days agoAppliedSaved,EagleView Technologies,"Bengaluru, KT"
3,"Senior Manager , Software Engineering (L5)",15 days agoAppliedSaved,Twilio,"Bengaluru, Karnataka, KT"
4,Senior Software Engineer (UI Development),16 days agoAppliedSaved,Aurigo,"Bangalore, KT"
5,"IT JOBS HYDERABAD,TELANAGANA,INDIA",+30 days agoAppliedSaved,GENUINE IT JOBS HYDERABAD,"HYDERABAD,TELANGANA,INDIA, AS"
6,"Senior Engineering Manager, Machine Learning",+30 days agoAppliedSaved,Twilio,"Bengaluru, Karnataka, KT"